body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

.select2-container .select2-selection--multiple {
    padding-bottom: 0;
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
}

.select2-container .select2-search--inline .select2-search__field {
    height: 30px;
    margin-top: 0.5rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    vertical-align: top;
}

.header .navbar {
    background: #061936;
}

header .navbar-brand {
    position: relative;
    padding-left: 2.75rem;
}

header .navbar-brand:before {
    content: '';
    display: block;
    position: absolute;
    background: transparent url("favicon.png") 50% 50% no-repeat;
    background-size: contain;
    width: 2.2rem;
    height: 2.2rem;
    top: 2px;
    left: 0;
}

.colors .card {
    height: 100%;
    max-height: 100%;
}

.details {
    position: relative;
    border-left: 1px solid rgba(0,0,0,.125);
}

.card .card-title {
    margin-bottom: 0;
}

.card .card-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.colors .badge {
    border: 1px solid lightgray;
}

.colors .black {
    border: 1px solid silver;
    background-color: black;
}

.colors .blue {
    background-color: dodgerblue;
}

.colors .green {
    background-color: forestgreen;
}

.colors .red {
    background-color: indianred;
}

.colors .orange {
    background-color: darkorange;
}

.colors .silver {
    background-color: silver;
}

.colors .white {
    color: black;
    background-color: white;
}

.colors .yellow {
    background-color: gold;
}
