{% set companyName = 'Painless Car Rental' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>{% block title %}{{ companyName }}{% endblock %}</title>

        <link rel="icon" data-lazyload-href="favicon.png"/>

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
            <link href="main.css" rel="stylesheet">
        {% endblock %}

        {% block headScripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    {% include 'menu.html.twig' %}
                {% endblock %}
            </header>

            <main class="container">
                {% block main %}{% endblock %}
            </main>

            <footer class="fixed-bottom mt-auto bg-light pt-2 pb-2">
                {% block footer %}{% endblock %}
            </footer>

            {% block bodyScripts %}
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
