<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #061936 !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ companyName }}</a>
        {% block filters %}{% endblock %}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarCollapse">#}
{#            <form class="d-flex" data-np-checked="1">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" data-np-checked="1">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#            </form>#}
{#        </div>#}
    </div>
</nav>
